
      </div>
      <!-- 6. Placeholder for Footer -->
      <div id="footer" class="footer"></div>
      <!-- 7. Placeholder for optional SEO birdseed -->
      <div id="birdseed" class="birdseed"></div>
    </div>
  </div>
