<meta charset="utf-8" />
<title>{{title}}</title>
<script src="http://www8.hp.com/us/en/scripts/framework/jquery/v-1-8/jquery.js"></script>
<script src="http://www8.hp.com/us/en/scripts/framework/jquery/v-1-8/jquery.ui.core.js"></script>
<script src="http://www8.hp.com/us/en/scripts/framework/jquery/v-1-8/can.jquery.js"></script>
<script src="http://www8.hp.com/caas/header-footer/us/en/default/latest.r/root?contentType=js"></script>
<style>
  #birdseed {
    display: none;
  }
</style>
<link href="http://www8.hp.com:80/us/en/system/styles/hps-fontface-core.css" rel="stylesheet" type="text/css" />
