/* grid variables */
$gridGutter: 5px;
$gridCol: 12;
$percentageGutter:0.5%;

[class*='grid-'],
.tile {
    margin:0 $gridGutter $gridGutter*2;
    display: inline-block;
    position: relative;
    float: left;
}

.no-csscalc{
    [class*='grid-'],
    .tile {
        margin:0 $percentageGutter $percentageGutter*2;
        display: inline-block;
        position: relative;
        float: left;
    }
}

@each $key, $value in $bp {
  @each $feature, $width in $value{
    @if $feature == "min" {

      @if not($width){
        @for $i from 1 through $gridCol {

          $percentage: percentage($i/$gridCol);
          $gutter: $gridGutter*2;

          .grid-#{$key}-#{$i},
          .grid-#{$i} {
            width:$percentage - $percentageGutter*2;
            width: calc(#{$percentage} - #{$gutter});
          }
        }
      }

      @else{
        @media only screen and (#{$feature}-width: $width){
          @for $i from 1 through $gridCol {

            $percentage: percentage($i/$gridCol);
            $gutter: $gridGutter*2;
            $percentageGrid: $percentage - ($percentageGutter*2);

            .grid-#{$key}-#{$i} {
                width:$percentageGrid;
                width: calc(#{$percentage} - #{$gutter});
            }
          } 
        }
      }
    }
  }
}

  //offset loop
@each $key, $value in $bp {
  @each $feature, $width in $value{
    @if $feature == "min" {

      @if not($width){
        @for $i from 1 through $gridCol {

          $percentage: percentage($i/$gridCol);
          $percentageOffset: $percentage + $percentageGutter;

          .offset-#{$key}-#{$i},
          .offset-#{$i} {
            margin-left: calc(#{$percentage} + #{$gridGutter});
          }

            .no-csscalc .offset-#{$key}-#{$i},
            .no-csscalc .offset-#{$i}{
                margin-left: $percentageOffset;
            }
        }
      }

      @else{
        @media only screen and (#{$feature}-width: $width){
          @for $i from 1 through $gridCol {

            $percentage: percentage($i/$gridCol);
            $percentageOffset: $percentage + $percentageGutter;

            .offset-#{$key}-#{$i} {
              margin-left: calc(#{$percentage} + #{$gridGutter});
            }

            .no-csscalc .offset-#{$key}-#{$i},
            .no-csscalc .offset-#{$i}{
                margin-left: $percentageOffset;
            }
          } 
        }
      }
    }
  }
}

//container
.container{
    width:auto;
    max-width: $maxContentWidth;
    margin:0 3%;
    position: relative;
    padding:0;

    @include bp("min", 1645px){
      margin: 0 auto;
    }

}

//rows
.row{
    @include clearfix;
    margin:0 (-$gridGutter);
    &.equal-heights{
    	@include bp("min", "md"){
	        display: flex;
	    }
    }
    &.equal-heights-lg{
      @include bp("min", "lg"){
          display: flex;
      }
    }
    &.equal-heights.row-reverse{
      @include bp("min", "md"){
          display: flex;
          flex-direction: row-reverse;
      }
    }

    &.flex-row{
        display: flex;
        flex-wrap:wrap;

        &:before,
        &:after{
            flex-basis:0;
            order:1;
        }
    }

    &.flex-row-reverse{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row-reverse;

        &:before,
        &:after{
            flex-basis:0;
            order:1;
        }
    }
}

.container > .row:first-child{
  margin-top:2em;
}

.no-csscalc.no-flexbox{
    .row.flex-row{
        display: inline-block;
    }
}